{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h2>Patientendaten</h2>         
  <table class="table">
    <tbody>
      <tr>
        <td>Patient</td>
        <td>{{ data["Patient"] }}</td>
      </tr>
      <tr>
        <td>Geschlecht</td>
         {% if  data["gender"] == 1 %}
            <td>männlich</td>
         {% else %}
            <td>weiblich</td>
        {% endif %}
      </tr>
      <tr>
        <td>Alter</td>
        <td>{{ data["age"]}}</td>
      </tr>
      <tr>
        <td>Schuljahre</td>
        <td>{{ data["Schuljahre"]}}</td>
      </tr>      
    </tbody>
  </table>
</div>

<div class="container">
 <h2>PSE-Score</h2>         
  <table class="table">
    <thead>
      <tr>
        <th>PSE-Test</th>
        <th>Messwert</th>
        <th>Scorewert</th>
        <th></th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Zahlen verbinden (A) (Zeit)</td>
        <td>{{ data["NCTA"]}} </td>
        <td>{{ data["NCTA_Score"]}} </td>
        <td> <img src="/static/arrow1.png" alt="arrow"  height="30"></td>
      </tr>
      <tr>
        <td>Zahlen verbinden (B) (Zeit)</td>
        <td>{{ data["NCTB"]}} </td>
        <td>{{ data["NCTB_Score"]}} </td>
        <td> <img src="/static/arrow1.png" alt="arrow"  height="30"></td>
      </tr>
      <tr>
        <td>Linien nachfahren (Zeit)</td>
        <td>{{ data["LTTTIME"]}}</td>
        <td>{{ data["LTTTIME_Score"]}}</td>
        <td> <img src="/static/arrow1.png" alt="arrow"  height="30"></td>
      </tr>
      <tr>
        <td>Linien nachfahren (Fehler)</td>
        <td>{{ data["LTTERROR"]}} </td>
        <td>{{ data["LTTERROR_Score"]}} </td>
        <td> <img src="/static/arrow1.png" alt="arrow"  height="30"></td>
      </tr>
      <tr>
        <td>Zahlen Symbol Test (Anzahl)</td>
        <td>{{ data["DST"]}} </td>
        <td>{{ data["DST_Score"]}}</td>
        <td> <img src="/static/arrow2.png" alt="arrow"  height="30"></td>
      </tr>
      <tr>
        <td>Kreise punktieren (Zeit)</td>
        <td>{{ data["SDOT"]}} </td>
        <td>{{ data["SDOT_Score"]}}</td>
        <td> <img src="/static/arrow1.png" alt="arrow"  height="30"></td>
      </tr>
    </tbody>
  </table>
</div>  
{% if  data["MesswertMissing"] == False %}
    <div class="container">     
        <div>
            <h2>Gesamtscore: {{ data["Gesamt_Score"]}}</h2>   
        </div>
    </div>  
{% endif %} 
{% if  data["notizen"] != '' %}
    <div class="container">     
        <div>
          <h2>Notizen:</h2> {{ data["notizen"]}}    
      </div>
    </div>
{% endif %}             
{% endblock content %}
