{% extends "layout.html" %}
{% block content %}
    <h1>Patientendaten</h1>
    <div>
        Patient: {{ data["Patient"] }}
    </div>    
    <div>    
        Alter: {{ data["age"]}}
    </div>
    <div>    
        Schuljahre: {{ data["Schuljahre"]}}   
    </div>
    <div>
        Geschlecht: {{ data["gender"]}}
    </div>       
    <h1>Scorewerte</h1>
    <div>
        NCTA:   {{ data["NCTA_Score"]}} 
    </div>
    <div>
        NCTB: {{ data["NCTB_Score"]}}   
    </div>
    <div>
        LTTTIME: {{ data["LTTTIME_Score"]}}   
    </div>
    <div>
        LTTERROR: {{ data["LTTERROR_Score"]}}   
    </div>
    <div>
        DST: {{ data["DST_Score"]}}   
    </div>
    <div>
        SDOT: {{ data["SDOT_Score"]}} 
    </div>
    <div>
        Notizen: {{ data["notizen"]}}    
    <div>
    <h1>Score: </h1>
{% endblock content %}
