{% extends "layout.html" %}
{% block content %}
<h1> PSE-Syndrom Test - Auswertetool </h1>
  <div class="content-section">
        <form method="POST" action="">
             
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.AbspeichernOK.label(class="form-control-label") }}
                    {{ form.AbspeichernOK(class="form-control form-control-lg") }}
                </div>                
            </fieldset>            
               
          
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
    
            </div>
        </form>
    </div>
{% endblock content %}
