{% extends "layout.html" %}
{% block content %}
<h1> PSE-Syndrom Test - Auswertetool </h1>
  <div class="content-section">
        <form method="POST" action="">
             
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Patientendaten</legend>
                <div class="form-group">
                    {{ form.Patient.label(class="form-control-label") }}

                    {% if form.Patient.errors %}
                        {{ form.Patient(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Patient.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Patient(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.age.label(class="form-control-label") }}
                    {% if form.age.errors %}
                        {{ form.age(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.alter.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="form-control form-control-lg") }}
                    {% endif %}    
                </div>
                <div class="form-group">
                    {{ form.Schuljahre.label(class="form-control-label") }}
                    {{ form.Schuljahre(class="form-control form-control-lg") }}
                </div>                
                <div class="form-group">
                    {{ form.gender.label(class="form-control-label") }}
                    {{ form.gender(class="form-control form-control-lg") }}
                </div>
            </fieldset>            
               
          
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
    
            </div>
        </form>
    </div>
{% endblock content %}
