{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Eingabe der Messwerte</legend>
                <div class="form-group">
                    {{ form.NCTA.label(class="form-control-label") }}
                    {{ form.NCTA(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.NCTB.label(class="form-control-label") }}
                    {{ form.NCTB(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.LTTTIME.label(class="form-control-label") }}
                    {{ form.LTTTIME(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.LTTERROR.label(class="form-control-label") }}
                    {{ form.LTTERROR(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.DST.label(class="form-control-label") }}
                    {{ form.DST(class="form-control form-control-lg") }}
                </div>  
                <div class="form-group">
                    {{ form.SDOT.label(class="form-control-label") }}
                    {{ form.SDOT(class="form-control form-control-lg") }}
                </div>  
                <div class="form-group">
                    {{ form.notizen.label(class="form-control-label") }}
                    {{ form.notizen(class="form-control form-control-lg") }}
                </div>                                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>           
        </form>
    </div>
{% endblock content %}
