{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
             
            {{ form.hidden_tag() }}
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Patientendaten</legend>
                <div class="form-group">
                    {{ form.patient.label(class="form-control-label") }}

                    {% if form.patient.errors %}
                        {{ form.patient(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.patient.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.patient(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.alter.label(class="form-control-label") }}
                    {% if form.alter.errors %}
                        {{ form.alter(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.alter.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.alter(class="form-control form-control-lg") }}
                    {% endif %}    
                </div>
                <div class="form-group">
                    {{ form.schuljahre.label(class="form-control-label") }}
                    {{ form.schuljahre(class="form-control form-control-lg") }}
                </div>                
                <div class="form-group">
                    {{ form.geschlecht.label(class="form-control-label") }}
                    {{ form.geschlecht(class="form-control form-control-lg") }}
                </div>
            </fieldset>
   
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
    
            </div>
        </form>
    </div>
{% endblock content %}
