{% extends "layout.html" %}
{% block content %}
    <h1>Patientendaten</h1>
    Patient: {{ data["patient"] }}
    Alter: {{ data["alter"]}}
    Schuljahre: {{ data["schuljahre"]}}   
    Geschlecht: {{ data["geschlecht"]}}   
    <h1>Testergebnisse</h1>
    Test Nr.1 - Zahlen-Symbol-Test:   {{ data["test1"]}} 
    Test Nr.2 - ZVT-A-Testblatt: {{ data["test2"]}}   
    Test Nr.3 - ZVT-B-Testblatt: {{ data["test3"]}}   
    Test Nr.4 - Kreise punktieren: {{ data["test4"]}}   
    Test Nr.5 - Linie nachfahren: {{ data["test5"]}} 
    Notizen: {{ data["test5"]}}    
    <h1>Score</h1>
{% endblock content %}
